.aboutblock3-h2{
    color: #212529;
    font-family: "Ubuntu", Sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
}
.aboutblock3-col2 li{
    list-style-type: none;
    /* text-align: center; */
}
.aboutblock3-col2 p{
    margin-bottom: 1.6em;
    font-size: initial;
}
.rightarrow-icon{
    margin-right: 1.5em;
    font-size: small;
    font-size: 1.2em;
    font-weight: bold!important;
    color: #F8A02B!important;
}
.ant-divider-custom{
    border-top: 1px solid #A29E9E!important;
    margin: 9px 0!important;
}
.ant-divider-custom-4{
    display: none!important;
}
.about-block4 h2{
    color: #224468;
    font-family: "Ubuntu", Sans-serif;
    font-size: 36px;
    font-weight: 600;

}